<div id="<%= dom_id song %>">
  <p>
    <strong>Name:</strong>
    <%= song.name %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= song.album %>
  </p>

  <p>
    <strong>Singer:</strong>
    <%= song.singer %>
  </p>

</div>
